body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ffdde1, #ee9ca7);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.3rem;
}
